@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Quicksand:wght@300&display=swap');

* {
  box-sizing: border-box;
  color: #DCDCDC;
  font-family: Inter, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#card {
  background-color: #1C1C1C;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 400px;
  height: 900px;
}
